# anything that is vim backup
*~

# java classes
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# omit all generated classes
simple-rest-crud/target/
simple-rest-crud/.idea/
configurableapp/.idea/
configurableapp/.mvn/
configurableapp/target/
gitconfigserver/.idea/
gitconfigserver/target/
springclientconfiggit/.idea/
springclientconfiggit/target/
